<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>" lang="<%- lang %>">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
</head>
<style>
.menu {
    font-family: SourceHanSerifSC-Regular;
    margin: 55px auto 42px;
    font-size: 30px;
    text-align: center;
    color: #222;
}
.TOC li {
    font-size: 15px;
    list-style: none;
    margin: 20px auto;
}
</style>
<body>
<p class="menu"><% if (lang === 'en') { %>Menu<% } else if (lang === 'zh-tw') { %>目錄<% } else { %>目录<% } %></p>
<nav class="TOC" id="toc" epub:type="toc">
    <ol>
        <% content.forEach(function(content, index){ %>
            <% if(!content.excludeFromToc && content.beforeToc){ %>
                <li class="table-of-content">
                    <a href="<%= content.href %>"><%= (content.title || "Chapter "+ (1+index)) %><% if(content.author.length){ %> - <small class="toc-author"><%= content.author.join(",") %></small><% }%><% if(content.url){ %><span class="toc-link"><%= content.url %></span><% }%></a>
                </li>
            <% } %>
        <% }) %>
        <% content.forEach(function(content, index){ %>
            <% if(!content.excludeFromToc && !content.beforeToc){ %>
                <li class="table-of-content">
                    <a href="<%= content.href %>"><%= (content.title || "Chapter "+ (1+index)) %><% if(content.author.length){ %> - <small class="toc-author"><%= content.author.join(",") %></small><% }%><% if(content.url){ %><span class="toc-link"><%= content.url %></span><% }%></a>
                </li>
            <% } %>
        <% }) %>
    </ol>
</nav>

</body>
</html>