<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>" lang="<%- lang %>">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
</head>
<style>
.menu {
    font-family: SourceHanSerifSC-Regular;
    margin: 0 auto 42px;
    font-size: 30px;
    text-align: center;
    color: #222;
}
.TOC > ol {
    margin: 0;
    padding: 0;
}
.TOC > ol ol {
    padding: 0;
    margin-left: 2em;
}
.TOC li {
    font-size: 15px;
    list-style: none;
    margin: 20px auto;
    padding: 0;
}
.TOC a {
    color: #005aff;
}
</style>
<body>
<p class="menu"><% if (lang === 'en') { %>Menu<% } else if (lang === 'zh-tw') { %>目錄<% } else { %>目录<% } %></p>
<nav class="TOC" id="toc" epub:type="toc">
    <ol>
        <% content.forEach(function(item, index){ %>
            <% if(!item.excludeFromToc && !item.beforeToc && !item.excludeFromMenu){ %>
                <li class="table-of-content"><a href="<%= item.href %>"><%= (item.title || "Chapter "+ (1+index)) %><% if(item.author.length){ %> - <small class="toc-author"><%= item.author.join(",") %></small><% }%><% if(item.url){ %><span class="toc-link"><%= item.url %></span><% }%></a>
                <% if (content[index + 1] && typeof content[index + 1].depth == 'number') { %>
                    <% if (content[index + 1].depth > item.depth) { %>
                    <ol>
                    <% } else { %>
                        </li><% if (content[index + 1].depth < item.depth) { %></ol></li><% } %>
                    <% } %>
                <% } else { %>
                    </li>
                    <% if (item.depth > 0) { %>
                    <% for (var i = item.depth; i; i--) {%>
                        </ol>
                    <% } %>
                    </li>
                    <% } %>
                <% } %>
            <% } %>
        <% }) %>
    </ol>
</nav>

</body>
</html>